/* delete-confirmation-dialog.component.css */

/* Style for both Cancel and Delete buttons */
.mat-dialog-actions button {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

}

/* Style for Cancel button */
.mat-dialog-actions button.mat-button {
  background-color: #ccc;
  color: #333;
}

/* Style for Delete button */
.mat-dialog-actions button.mat-button.mat-warn {
  background-color: #e53935;
  color: #fff;
}
