/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Alata-Regular;
  src: url(/assets/fonts/Alata-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Space-Grotesk;
  src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
}
*{
  font-family: Alata-Regular;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
