h1{
  font-size: 20px;
  padding-left: 8px;
  cursor: pointer;
}
#main{
  padding:50px 44px 0 44px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background-color: #ECEDED;
  height: 100vh;
  overflow: hidden;
}
#main > div {
  flex: 1;
  margin: 0 36px; /*Adjust margin as needed*/
}
/* sidebar */
.example-container {
  width: 100vw;

  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  position:absolute;

}

/* Edit */
.tr-edit{
  position: absolute;
  right: 0;
  top:0;
}
