.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  z-index: 4; /* Ensure the overlay is above other elements */
}

.container {
  position: absolute;
  overflow: scroll;
  width: 39vw;
  background-color: #fff;
  padding: 39px 34px 0 34px;
  position: relative;
  min-height: 100vh;
  z-index: 5;
}
.sectionName {
  font-size: 32px;
  font-weight: 400;
}
.cancel {
  background-color: rgba(0, 0, 0, 0);
}
.finalBtns {
  position: fixed;
  bottom: 5px;
  right: 34px;
}
.btn {
  height: 49px;
  width: 97px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
.title{
  font-size: 24px;
  font-weight: 400;
  margin-top: 26px;
}
.categories {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0;
}
.categories p {
  padding: 19px 50px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 10px 30px 10px 0;
}

.operations img{
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.details-flex{
  display: flex;
  align-items: center;
  line-height: 25px;
  margin:16px 0;
}
.details-flex h3{
  font-size: 20px;
  font-weight: 700;
  width: 141px;
}
.details-flex p{
  font-size: 20px;
  font-weight: 400;
  width: 312px;
  margin-left: 40px;
}
.line{
  width: 100%;
  height: 0.5px;
  background-color: #000;
}
.incomeOrExpenseContainer{
  display: flex;
  justify-content: space-between;
}
.incomeOrExpense{
  display: flex;
  align-items: center;
}
.incomeOrExpense p{
  font-size: 20px;
  margin-left: 6px;
}
.incomeOrExpenseContainer .amount{
  font-size: 36px;
  font-weight: 400;
}
.expenseColor{
  color: #EE3F19;
}
.incomeColor{
  color:#21C206;
}
.attachements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.attachementStart{
  display: flex;
  align-items: center;
}
.attachementStart h3{
  margin-left: 15px;
  font-size: 20px;
}
.attachementEnd button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 49px;
  background-color: #B9E2E6;
  border-radius: 10px;
  cursor: pointer;
  border:none;
}

.attachementEnd img{
  /* padding: 9px */
  border-radius: 50%;
}
.disabled-image {
  opacity: 0.5; /* Reduce opacity to make it partially transparent */
  pointer-events: none; /* Disable mouse interactions */
}
.attachementEnd p{
  margin-left: 11px;
  font-size: 20px;
}
.custom-dialog-container {
  width: 400px; /* Set the width as per your requirement */
}
