<div id="main-center">
  <div id="sections">
    <ul>
      <li *ngFor="let section of sections">
        <a (click)="selectSection(section)">{{ section }}</a>
      </li>
    </ul>
  </div>
  <div id="search">
    <img src="assets/icons/search.png" alt="searchIcon">
    <input type="text" placeholder="Search" #filter>
  </div>
    <div *ngIf="!selectedSection">
      <ul>
        <li class="transactions" *ngFor="let transaction of transactions; let i=index" (click)="onEditTransaction()">
          <div class="trBox">
            <!-- 'tr' is shortcut for transaction -->
            <div class="trCategory">
              <p>{{ transaction.categoryType}}</p>
            </div>
            <div class="trRest">
              <p class="trTitle">{{transaction.title}}</p>
              <div class="boxBottom">
                <img [src]="transaction.income?'assets/icons/income.png':'assets/icons/expense.png'" alt="money flow icon" style="max-height: 30px;">
                <p class="moneyFlow">{{transaction.income?'Income':'Expense'}}</p>
                <p class="dot">·</p>
                <p>{{transaction.date}}</p>
              </div>
              <p class="trAmount">{{transaction.amount}}$</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="selectedSection === 'Categories'" class="">
      <app-sec-categories></app-sec-categories></div>
    <div *ngIf="selectedSection === 'Subscriptions'" class="">
      <app-sec-subscriptions></app-sec-subscriptions></div>
    <div *ngIf="selectedSection === 'Obligatory'" class="">
      <app-sec-obligatory></app-sec-obligatory></div>
    <div *ngIf="selectedSection === 'Statistic'" class="">
      <app-sec-statistic></app-sec-statistic></div>
    <div *ngIf="selectedSection === 'Admin'" class="">
      <app-sec-admin></app-sec-admin></div>

  <div id="transactions"></div>
</div>
