<div id="main-center">
  <div id="sections">
    <ul>
      <li *ngFor="let section of sections">
        <a (click)="selectSection(section)">{{ section }}</a>
      </li>
    </ul>
  </div>
  <div id="search">
    <img src="assets/icons/search.png" alt="searchIcon">
    <input type="text" placeholder="Search" #filter>
  </div>
  <div [ngSwitch]="selected">
    <div *ngSwitchCase="'Categories'"><app-sec-categories></app-sec-categories></div>
    <div *ngSwitchCase="'Subscriptions'"><app-sec-subscriptions></app-sec-subscriptions></div>
    <div *ngSwitchCase="'Obligatory'"><app-sec-obligatory></app-sec-obligatory></div>
    <div *ngSwitchCase="'Statistic'"><app-sec-statistic></app-sec-statistic></div>
    <div *ngSwitchCase="'Admin'"><app-sec-admin></app-sec-admin></div>
    <div *ngSwitchDefault>
      <ul>
        <li [routerLink]="['/edit']" class="transactions" *ngFor="let transaction of transactions$ | async; let i=index" (click)="onEditTransaction(transaction.id)">
          <div class="trBox" >
            <!-- 'tr' is shortcut for transaction -->
            <div class="trCategory">
              <p>{{ transaction.categoryType}}</p>
            </div>
            <div class="trRest">
              <p class="trTitle">{{transaction.title}}</p>
              <div class="boxBottom">
                <img [src]="transaction.income?'assets/icons/income.png':'assets/icons/expense.png'" alt="money flow icon" style="max-height: 30px;">
                <p class="moneyFlow">{{transaction.income?'Income':'Expense'}}</p>
                <p class="dot">·</p>
                <p>{{transaction.date}}</p>
              </div>
              <p class="trAmount">{{transaction.amount}}$</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

