<div class="container">
  <h2 class="sectionName">Edit Transaction</h2>
  <div class="toggle">
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="title tr-edit">
      <div class="expense-option" (click)="incomeOrExpense('expense')">
        <img src="assets/icons/expense.png" alt="expense icon" style="width: 35px;">
        <a [class.active]="selectedOption === 'option1'" (click)="toggleOption('option1')">Expenses</a>
      </div>
      <div class="income-option" (click)="incomeOrExpense('income')">
        <img src="assets/icons/income.png" alt="income icon" style="width: 35px;">
        <a [class.active]="selectedOption === 'option2'" (click)="toggleOption('option2')">Income</a>
      </div>
      <fieldset class="title">
        <legend>Title <span></span></legend>
        <input type="text" formControlName="title" id="title">
      </fieldset>
      <fieldset class="categories">
        <legend>Categories</legend>
        <select class="minimal" formControlName="categoryType" id="category">
          <option disabled selected>Select categories</option>
          <option *ngFor="let category of categoryList" [value]="category.name">
            {{category.name}}
          </option>
        </select>
      </fieldset>
      <fieldset class="amount">
        <legend>Amount</legend>
        <input type="number" formControlName="amount" id="amount">
      </fieldset>
      <fieldset class="payDate">
        <legend>Payment Date</legend>
        <input type="date" formControlName="date" id="date">
      </fieldset>
      <fieldset class="description">
        <legend>Description</legend>
        <input type="text" formControlName="description" id="description">
      </fieldset>
    </div>
    <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
</div>
