.container{
  width: 39vw;
  height: 100vh;
  background-color: #fff;
  padding: 39px 34px 0 34px;
}
.sectionName{
  font-size: 32px;

}
.incomeOrExpenseContainer{
  margin: 32px 0;
}
.incomeOrExpense, .incomeOrExpenseContainer{
  display: flex;
  align-items: center;
  padding: 4px;
  /* margin-right: 5px; */
}

.incomeOrExpense a{
  font-size: 20px;
  width: 120px;
  /* height: 35px; */
}
.incomeOrExpense img{
  margin-right: 7px;
}
.active{
  outline:2px solid #373737 ;
  outline-offset: -1px;
  border-radius: 7px;
}
legend:after {
  content:" *";
  color: red;
}
legend{
  font-size:12px;
  color:#373737;
  opacity: 50%;
}
fieldset{
  padding-left: 13px;
  margin-bottom: 19px;
  /* margin-right: 13px; */
}
input, select{
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 16px;
  color:#000;
}
#imageUpload{
  display: flex;
}
.img img{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-right: 23px;
  border-radius: 10px;
}
.img p{
  padding-left: 5px;
}
.add_image{
  width: 90px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #000000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}
.imageName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  max-width: 85px; /* Adjust the value as per your requirements */
}
