.container{
  width: 39vw;
  height: 100vh;
  background-color: #fff;
  padding: 39px 34px 0 34px;
}
.sectionName{
  font-size: 32px;

}
.incomeOrExpenseContainer{
  margin: 32px 0;
}
.incomeOrExpense, .incomeOrExpenseContainer{
  display: flex;
  align-items: center;
  padding: 4px;
  /* margin-right: 5px; */
}

.incomeOrExpense a{
  font-size: 20px;
  width: 120px;
  /* height: 35px; */
}
.incomeOrExpense img{
  margin-right: 7px;
}
.active{
  outline:2px solid #373737 ;
  outline-offset: -1px;
  border-radius: 7px;
}
legend:after {
  content:" *";
  color: red;
}
legend{
  font-size:12px;
  color:#373737;
  opacity: 50%;
}
fieldset{
  padding-left: 13px;
  margin-bottom: 19px;
  /* margin-right: 13px; */
}
input, select{
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 16px;
  color:#000;
}
