.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  z-index: 4; /* Ensure the overlay is above other elements */
}

.container {
  width: 39vw;
  background-color: #fff;
  padding: 39px 34px 0 34px;
  position: relative;
  min-height: 100vh;
  z-index: 5;
}
.sectionName {
  font-size: 32px;
}
.incomeOrExpenseContainer {
  margin: 32px 0;
}
.incomeOrExpense,
.incomeOrExpenseContainer {
  display: flex;
  align-items: center;
  padding: 4px;
  /* margin-right: 5px; */
}
.incomeOrExpense {
  cursor: pointer;
}

.incomeOrExpense a {
  font-size: 20px;
  width: 120px;
  /* height: 35px; */
}
.incomeOrExpense img {
  margin-right: 7px;
}
.active {
  outline: 2px solid #373737;
  outline-offset: -1px;
  border-radius: 7px;
}
legend:after {
  content: " *";
  color: red;
}
legend {
  font-size: 12px;
  color: #373737;
  opacity: 50%;
}
fieldset {
  padding-left: 13px;
  margin-bottom: 19px;
  /* margin-right: 13px; */
}
input,
select {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 16px;
  color: #000;
}
#imageUpload {
  display: flex;
}
.img {
  margin-right: 10px;
}
.img img {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 auto;
}
.img p {
  padding-left: 5px;
}
.add_image {
  width: 90px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #000000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}
.add_image.disabled {
  cursor: not-allowed;
}
.imageName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85px; /* Adjust the value as per your requirements */
}
.finalBtns {
  position: fixed;
  bottom: 5px;
  right: 34px;
}
.btn {
  height: 49px;
  width: 97px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.submit {
  background-color: #b9e2e6;
}
.submit:hover {
  background-color: #d6f4f7;
}
.cancel {
  background-color: rgba(0, 0, 0, 0);
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.btnRemove {
  font-size: 12px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 0px 2px;
}
